<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EASYFOOD | 쉽게 만드는 요리</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/recipe/resources/stylesheets/read.css}">
    <script defer th:src="@{/recipe/resources/scripts/read.js}"></script>
</head>
<body class="layout">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="main">
    <form class="form" id="firstForm">
        <div class="content-container">
            <div class="content">
                <img alt="" class="cover-image" id="coverImage">
                <h1 class="title" id="title"></h1>
                <div class="name-container">
                    <span class="name" id="name"></span>
                    <span class="vertical">|</span>
                    <span class="createdAt" id="createdAt"></span>
                    <input class="modifyButton" id="modifyButton" value="수정">
                    <input class="deleteButton" id="deleteButton" value="삭제">
                </div>
                <hr class="line">
                <div class="content" id="content"></div>
                <hr class="line">
            </div>
            <div class="button-container">
                <input id="back" class="object-button back" name="back" type="button" value="목록">
            </div>
            <hr class="line">
        </div>
    </form>
    <form class="form" id="secondForm">
        <div class="comment-write-container" id="commentWriteContainer">
            <span class="writeName" id="writeName">작성자</span>
            <input class="object-input" id="commentWrite" name="content" maxlength="1000"
                   placeholder="댓글을 입력해주세요.">
            <button class="object-button" id="commentWriteButton" type="submit">작성하기</button>
        </div>
        <hr class="line">
    </form>
    <div class="_comment-container" id="commentContainer">
        <div class="commentsContainer visible">
            <div class="buttonContainer" id="buttonContainer">
            </div>
        </div>
    </div>
    <form class="form" id="thirdForm">
        <div class="change-container" id="change-container">
            <div class="_change-container">
                <div class="change">
                    <input class="object-input" id="commentChange" name="content" maxlength="1000"
                           placeholder="수정할 내용을 입력해주세요.">
                    <button class="object-button" id="commentChangeButton" type="submit">수정하기</button>
                    <input class="cancel-button back" id="commentBackButton" name="back" type="button" value="취소">
                </div>
            </div>
        </div>
    </form>
    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>