@charset "UTF-8";

body > .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 7rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 25rem;
}

body > .main > .login-form > .object-label > .object-input {
    width: 25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


body > .main > .login-form > .warning {
    color: rgb(231, 76, 60);
    display: none;
}

body > .main > .login-form > .warning.visible {
    display: block;
}
