<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이지푸드 로그인</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/userLogin.css}">
    <script defer th:src="@{/member/resources/scripts/userLogin.js}"></script>
</head>
<body class="layout">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="main">
    <form class="login-form" id="loginForm">
        <h2>로그인</h2>
        <label class="object-label">
            <div>이메일 주소</div>
            <input autofocus class="object-input" name="email" type="email" placeholder="이메일 주소를 입력해주세요." maxlength="50">
        </label>
        <label class="object-label">
            <div>비밀번호</div>
            <input class="object-input" name="password" type="password" placeholder="비밀번호를 입력해주세요." maxlength="50">
        </label>
        <span class="warning visible" id="loginWarning"></span>
        <input class="object-button" name="loginButton" type="submit" value="로그인">
    </form>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>