@charset "UTF-8";

body > .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 7rem;
}

body > .main > .form > .content-container {
    width: 50rem;
}

body > .main > .content-container > .content > .content * {
    max-width: 100%;
}

body > .main > .form > .content-container > .button-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem 0;
}

body > .main > .form > .content-container > .button-container > .object-button {
    margin: 2.5rem 0;
    width: 5rem;
}

.modifyButton {
    background-color: rgb(var(--concept-color-orange));
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    font: inherit;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    white-space: nowrap;
    padding: 0.2rem 0.3rem;
    display: none;
    width: 1.75rem;
}

.commentModifyButton {
    background-color: rgb(var(--concept-color-orange));
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    font: inherit;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 0.2rem 0.3rem;
    display: none;
    margin-right: 0.5rem;
    width: 1.75rem;
}

.commentModifyButton.visible,
.modifyButton.visible {
    display: block;
}

.commentModifyButton:hover,
.modifyButton:hover {
    background-color: rgb(var(--concept-color-orange-dim));
}

.deleteButton {
    background-color: #c7c7c7;
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    font: inherit;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    white-space: nowrap;
    padding: 0.2rem 0.3rem;
    display: none;
    width: 1.75rem;
}

.commentDeleteButton {
    background-color: #c7c7c7;
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    font: inherit;
    border: none;
    cursor: pointer;
    padding: 0.2rem 0.3rem;
    white-space: nowrap;
    display: none;
    width: 1.75rem;
}

.commentDeleteButton.visible,
.deleteButton.visible {
    display: block;
}

.commentDeleteButton:hover,
.deleteButton:hover {
    background-color: #bbbbbb;
}

body > .main > .form > .content-container > .content > .cover-image {
    top: 0;
    left: 0;
    width: 50rem;
    height: 20rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

body > .main > .form > .content-container > .content > .name-container {
    width: 50rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

body > .main > .form > .content-container > .content > .name-container > .name {
    margin-right: 0.5rem;
    white-space: nowrap;
}

body > .main > .form > .content-container > .content > .name-container > .createdAt {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    white-space: nowrap;
    width: 50rem;
}

body > .main > .form > .content-container > .content > .name-container > .view-container {
    width: 50rem;
    margin-left: 0.5rem;
    white-space: nowrap;
}

.icon {
    color: #c7c7c7;
}

.line {
    width: 50rem;
    border: 0;
    border-top: 0.01rem solid #bbbbbb;
}

.comment-write-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50rem;
}

._comment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50rem;
}

._comment-container > .commentsContainer {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50rem;
}

._comment-container > .commentsContainer.visible {
    display: flex;
}

.comment-modify-container {
    display: none;
}

.comment-modify-container.visible {
    display: block;
}

._comment-container > .commentsContainer > .buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50rem;
    margin-top: 0.25rem;
}

._comment-container > .commentsContainer > .commentCreatedAt {
    color: #bbbbbb;
}

._comment-container > .commentsContainer > *:not(.commentContent) {
    margin-bottom: 0.25rem;
    white-space: nowrap;
}

.comment-write-container > .object-button {
    white-space: nowrap;
}

.comment-write-container > .object-input {
    width: 100%;
    margin-right: 0.5rem;
}

.button-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.writeName {
    margin-right: 0.5rem;
    white-space: nowrap;
}

.login-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem;
}

.login-container > .login:hover {
    color: rgb(var(--concept-color-orange-dim));
}

.change-container {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    overflow: hidden auto;
    pointer-events: none;
    z-index: 9;
    position: fixed;
}

.change-container > ._change-container {
    top: 0;
    left: 0;
    width: 35rem;
    height: 15rem;
    background-color: rgb(199, 199, 199, 25%);
    z-index: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.change-container > ._change-container > .change {

}

.change-container > ._change-container > .change > .cancel-button {
    background-color: #c7c7c7;
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    padding: 1rem 1rem;
    font: inherit;
    border: none;
    cursor: pointer;
    width: 5rem;
}

.change-container > ._change-container > .change > .cancel-button:hover {
    background-color: #bbbbbb;
}

.change-container.visible {
    opacity: 1;
    pointer-events: all;
}






