<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer class="footer" th:fragment="content">
    <div class="content-container">
        <ul class="content-list-container">
            <li class="item">
                <a target="_blank" th:href="@{/customer-center/}">고객센터</a>
            </li>
            <li class="item">
                <a target="_blank" th:href="@{/legal/}">이용약관</a>
            </li>
            <li class="item">
                <a target="_blank" th:href="@{/privacy/}">개인정보처리방침</a>
            </li>
        </ul>
    </div>
</footer>
</html>