<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css" />
    <link th:href="@{/resources/images/donut.png}" rel="shortcut icon">
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script src="https://kit.fontawesome.com/8269b009c5.js" crossorigin="anonymous"></script>
</th:block>
<body>

</body>
</html>